*{
    margin: 0;
    padding: 0;
}
body{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 25px;
    background-color: #FFD900;
}

#sec1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50vw;
    margin-top: 0px;
    margin-left: -15px;
   
    

}

#descricao{
    text-align: center;
    background-color: #514988;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 32px;
    padding-bottom: 30px;
    
}

#countdown-video{
    background-color: white;
}

#countdown{
    display: grid;
    grid-auto-flow: column;     
    margin-left: 20px;
}

.contador{
    color: rgba(81, 73, 136, 1);
    font-size: 20px;
    margin: 0;
    align-items: center;
    justify-content: center;
    
}

.contador h1{
    margin-bottom: 0;
}

.contador p{
    margin: 0;
}

#texto-countdown{
    color: rgba(227, 56, 129, 1);
    margin-left: 20px;
    font-size: 25px;
}

#texto-countdown p{
    margin: 8px 0px 12px 0;
}

#video{
    margin-top: 0;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

#sec2{
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 20px;
}

#titulo{
    font-size: 50px;
    color: rgba(243, 198, 31, 1);
    margin: 10px;
}

#data{
    font-size: 20px;
    margin: 20px 0px 40px 0px;
}

#texto{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    
}

#compre{
    color: rgba(243, 198, 31, 1);
    padding: 10px;
    margin-left: 60px;
}

#botao-ingresso{
    width: 500px;
    height: 100px;
    margin-top: 90px;
    left: 1004px;
    border-radius: 20px;

    color: white;
    background-color : rgba(81, 73, 136, 1);

    font-family: Verdana;
    font-size: 30px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;

}

.card-highlight{
    box-shadow: 10px 10px 10px 10px grey;
}
button:hover{
    background-color: rgb(56, 7, 119);
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgb(29, 26, 48);
}

.card-selected{
    border: 5px solid rgb(56, 7, 119);
}