body{
    background-color: #FFD900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 15px;
}

#sec1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50vw;
    margin-top: 5px;
    margin-left: -15px;
   
    

}
#descricao{
    text-align: center;
    background-color: #514988;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 32px;
    padding-bottom: 30px;
    height: 400px;
}
#countdown-video{
    background-color: white;
}
#video{
    margin-left: 10px;
    margin-right: 10px;
}
#sec2{
    background-color: white;
    display: grid;
    grid-auto-flow: column;
}